In [74]:
import csv
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import scipy.stats as stats

fig = plt.figure()

df = pd.read_csv('Mei.csv')   
df = pd.DataFrame(df).T


df3 = pd.read_csv('조진호.csv')
df3 = pd.DataFrame(df3).T

# df["C"] = pd.Series([10, 20, 30, 40,50])

s = pd.Series(['a'], index=[0])
 
df.insert(len(df.columns), 'colC', s.values)
df = pd.concat([df, s.rename('colC')], axis=1)
df = pd.concat([df, s.rename('colC')], axis=1)
df.insert(3,"city",['Lahore','Dehli'],True)
df.loc['sensor1'] = pd.Series({'a':1, 'b':5, 'c':2, 'd':3})
df.loc['sensor2'] = pd.Series({'a':1, 'b':5, 'c':2, 'd':3})
# for i in range(20):
#     df.iloc[i][0] = i
# df

# df = df.assign(city = ['Lahore','Dehli','New York'])
len(df.columns)
# for i in range(18):
#     i = 0 
#     df = pd.DataFrame(columns=[f'sensor{i}'])
#     for i in range(5):
#         df = df.append({'A': i}, ignore_index=True)

    
# row = [101, 102, 103, 104, 105,1111]
# df = df.append(pd.Series(row), ignore_index=True)

columns=list('abcde')
df.describe()
df.info()

new_data2 = []
de = df.corr(method='pearson')
corr = df.corr()
print(corr)

df
df2 =df.copy()
plt.figure(figsize=(12,8))


for i in range(18):
    print('sensor'+str(i))
    new = 'sensor'+str(i)
    new_data2.append(new)
    
for idx, row in df.iterrows():
    print("** index name:", idx)
    print(row[0:7])
    print("------"*5)


# new_data = ['sensor1','sensor2','sensor3','sensor4','sensor5','sensor6','sensor7','sensor8','sensor9','sensor10']

# timelist = ['sensor0',
# 'sensor1',
# 'sensor2',
# 'sensor3',
# 'sensor4',
# 'sensor5',
# 'sensor6',
# 'sensor7',
# 'sensor8',
# 'sensor9',
# 'sensor10',
# 'sensor11',
# 'sensor12',
# 'sensor13',
# 'sensor14',
# 'sensor15',
# 'sensor16',
# 'sensor17']


df3 = df3.transpose()

df = df.replace('Mei',np.nan)
# df = df.replace(0,'sensor0')
# df = df.replace(1,'sensor1')
df3 = df3.replace('조진호',np.nan)
# for x in range(18):
#     i =[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
#     df = df.replace(np.nan, f'sensor{i}')
    
# df[df.isnull().any(axis=2)]
# df.isnull()   

# df.iloc[0][0] = 1
# df.iloc[1][0] = 2
# df.iloc[2][0] = 3
# df.iloc[3][0] = 4


print(df.shape)
   
#stats.pearsonr(df, df5)
# for i in range(18):
#     data = np.concatenate((df, np.array([i]))) 
# data

# for i in range(20):
#     df.iloc[i][0] = i
# df


# for i in range(20):
#     df3.iloc[i][0] = i
# df3

# x_standardization = (df - df.mean())/df.std()

# x_standardization

#fig, ax = plt.subplots()
# ax.boxplot(df)
# plt.show()
# Q3, Q1 = np.percentile(df, [75 ,25])
# IQR = Q3 - Q1
# IQR
# df[(Q1-1.5*IQR > df)|(Q3+1.5*IQR < df)]


# fig2, ax2 = plt.subplots()
# ax.boxplot(df3)
# plt.show()
# Q3, Q1 = np.percentile(df3, [75 ,25])
# IQR = Q3 - Q1
# IQR
# df[(Q1-1.5*IQR > df3)|(Q3+1.5*IQR < df3)]

# df3

def outlier(df, col, z):
    return df[abs(df[col] - np.mean(df[col]))/np.std(df[col])>z].index

# df.loc[outlier(df, '표 1', 1)]



df2.to_csv("filename.csv", mode='w')

df

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to sensor2
Data columns (total 24 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   (91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)                  1 non-null      object
 1   (70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)                  1 non-null      object
 2   (65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)                  1 non-null      object
 3   city                                                                              2 non-null      object
 4   (13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)                  1 non-null      object
 5   (102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)               1 non-null      object
 6   (76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)                  1 non-null      object
 7   (70, 71, 72, 72, 76, 76, 77, 77, 74, 74, 71, 76, 81, 79, 80, 80)                  1 non-null      object
 8   (167, 163, 157, 151, 149, 145, 139, 136, 130, 127, 122, 120, 120, 120, 115, 117)  1 non-null      object
 9   (36, 40, 44, 47, 50, 53, 58, 57, 57, 59, 61, 63, 67, 69, 71, 69)                  1 non-null      object
 10  (50, 56, 55, 57, 62, 64, 64, 67, 64, 67, 68, 65, 71, 75, 73, 75)                  1 non-null      object
 11  (50, 52, 52, 56, 62, 64, 65, 66, 65, 66, 69, 68, 73, 73, 73, 74)                  1 non-null      object
 12  (43, 49, 50, 54, 57, 58, 61, 64, 61, 65, 67, 66, 69, 70, 71, 74)                  1 non-null      object
 13  (79, 75, 73, 77, 80, 81, 76, 82, 80, 79, 81, 82, 85, 84, 84, 83)                  1 non-null      object
 14  (79, 79, 79, 81, 82, 82, 83, 85, 81, 81, 81, 83, 86, 87, 87, 85)                  1 non-null      object
 15  (88, 88, 90, 92, 91, 91, 89, 92, 87, 88, 87, 88, 89, 90, 89, 90)                  1 non-null      object
 16  (63, 63, 68, 68, 70, 71, 76, 75, 74, 74, 75, 75, 78, 78, 79, 80)                  1 non-null      object
 17  (60, 62, 63, 66, 67, 69, 72, 76, 71, 73, 74, 79, 78, 79, 79, 83)                  1 non-null      object
 18  (60, 62, 67, 66, 73, 69, 73, 72, 74, 73, 76, 75, 74, 79, 80, 80)                  1 non-null      object
 19  (59, 60, 64, 66, 70, 70, 71, 73, 71, 73, 72, 75, 77, 82, 78, 74)                  1 non-null      object
 20  (52, 54, 58, 62, 63, 66, 68, 70, 68, 70, 70, 73, 74, 75, 77, 78)                  1 non-null      object
 21  (colC, , , , , , , , , , , , , , , )                                              1 non-null      object
 22  colC                                                                              1 non-null      object
 23  colC                                                                              1 non-null      object
dtypes: object(24)
memory usage: 800.0+ bytes
Empty DataFrame
Columns: []
Index: []
sensor0
sensor1
sensor2
sensor3
sensor4
sensor5
sensor6
sensor7
sensor8
sensor9
sensor10
sensor11
sensor12
sensor13
sensor14
sensor15
sensor16
sensor17
** index name: 0
(91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)          NaN
(70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)          NaN
(65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)          NaN
city                                                                   Lahore
(13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)          NaN
(102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)       NaN
(76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)          NaN
Name: 0, dtype: object
------------------------------
** index name: 표 1
(91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)         Mei
(70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)         Mei
(65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)         Mei
city                                                                   Dehli
(13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)         Mei
(102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)      Mei
(76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)         Mei
Name: 표 1, dtype: object
------------------------------
** index name: sensor1
(91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)       NaN
(70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)       NaN
(65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)       NaN
city                                                                   NaN
(13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)       NaN
(102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)    NaN
(76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)       NaN
Name: sensor1, dtype: object
------------------------------
** index name: sensor2
(91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)       NaN
(70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)       NaN
(65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)       NaN
city                                                                   NaN
(13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)       NaN
(102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)    NaN
(76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)       NaN
Name: sensor2, dtype: object
------------------------------
(4, 24)

,"(91, 93, 85, 90, 95, 93, 86, 91, 87, 87, 87, 86, 88, 87, 90, 87)","(70, 73, 69, 71, 76, 76, 77, 78, 74, 75, 76, 78, 79, 80, 78, 81)","(65, 64, 68, 67, 72, 71, 74, 73, 73, 70, 72, 74, 77, 77, 78, 78)",city,"(13, 19, 24, 29, 35, 37, 41, 47, 44, 48, 51, 55, 58, 59, 59, 62)","(102, 100, 102, 97, 99, 99, 97, 96, 92, 91, 89, 89, 91, 91, 90, 88)","(76, 78, 76, 77, 79, 80, 81, 81, 79, 81, 80, 81, 81, 83, 82, 80)","(70, 71, 72, 72, 76, 76, 77, 77, 74, 74, 71, 76, 81, 79, 80, 80)","(167, 163, 157, 151, 149, 145, 139, 136, 130, 127, 122, 120, 120, 120, 115, 117)","(36, 40, 44, 47, 50, 53, 58, 57, 57, 59, 61, 63, 67, 69, 71, 69)",...,"(79, 79, 79, 81, 82, 82, 83, 85, 81, 81, 81, 83, 86, 87, 87, 85)","(88, 88, 90, 92, 91, 91, 89, 92, 87, 88, 87, 88, 89, 90, 89, 90)","(63, 63, 68, 68, 70, 71, 76, 75, 74, 74, 75, 75, 78, 78, 79, 80)","(60, 62, 63, 66, 67, 69, 72, 76, 71, 73, 74, 79, 78, 79, 79, 83)","(60, 62, 67, 66, 73, 69, 73, 72, 74, 73, 76, 75, 74, 79, 80, 80)","(59, 60, 64, 66, 70, 70, 71, 73, 71, 73, 72, 75, 77, 82, 78, 74)","(52, 54, 58, 62, 63, 66, 68, 70, 68, 70, 70, 73, 74, 75, 77, 78)","(colC, , , , , , , , , , , , , , , )",colC,colC
0,NaN,NaN,NaN,Lahore,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,a
표 1,NaN,NaN,NaN,Dehli,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,NaN,NaN
sensor1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sensor2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN